<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: common_header(~{::title})">
<title>商户信息</title>
</head>
<body>
	<div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
         <div class="layui-form-item">
			<div class="layui-inline">
	            <label class="layui-form-label">商户名称</label>
	            <div class="layui-input-block">
	            <input type="text" name="merchantName" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	         </div>
			<div class="layui-inline">
	            <label class="layui-form-label">商户编号</label>
	            <div class="layui-input-block">
	            <input type="text" name="merchantNo" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	         </div>
			<!-- <div class="layui-inline">
	            <label class="layui-form-label">申请时间</label>
	            <div class="layui-input-block">
	            <input type="text" name="applyDate" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	         </div> -->
			<div class="layui-inline">
	            <label class="layui-form-label">法人姓名</label>
	            <div class="layui-input-block">
	            <input type="text" name="legalpersonName" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	         </div>
			<!-- <div class="layui-inline">
	            <label class="layui-form-label">法人证件类型</label>
	            <div class="layui-input-block">
	            <input type="text" name="legalpersonDoctype" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	         </div> -->
			<div class="layui-inline">
	            <label class="layui-form-label">法人证件号</label>
	            <div class="layui-input-block">
	            <input type="text" name="legalpersonDocno" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	         </div>
			<div class="layui-inline">
	            <label class="layui-form-label">法人手机号</label>
	            <div class="layui-input-block">
	            <input type="text" name="legalpersonPhone" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	         </div>
			<div class="layui-inline">
	            <label class="layui-form-label">商户状态</label>
	            <div class="layui-input-block">
	            <select name="status" lay-verify="" >
				  <option value="">请选择</option>
				  	<option th:each="t:${status}" th:value="${t.index}" th:text="${t.description}"></option>
				</select>
	            </div>
	         </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-front-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
          
        </div>
      </div>
      
      <div class="layui-card-body">
	        <script type="text/html" id="toolbar">
       		 <div  class="layui-btn-container">
        	  <button class="layui-btn layui-btn-sm" lay-event="addMerchant">添加商户</button>
				<button class="layui-btn layui-btn-sm" lay-event="addMerchantUser">添加商户用户</button>
      	     </div>
             </script>
        <table id="merchantInfo_table" lay-filter="merchantInfo_table"></table>
       
        <script type="text/html" id="table_tool">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

  <script th:inline="none" >
  layui.use(['table','form'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;
    
  //列表table
    table.render({
      elem: '#merchantInfo_table'
      ,url: '/merchant/merchantInfo/listMerchantInfo' 
       ,toolbar: '#toolbar',
       defaultToolbar: ['filter', 'print']
      ,cols: [[
		{type:'radio',fixed: 'left'}
        ,{field: 'id', width: 100, title: 'ID', sort: true}
        ,{field: 'merchantName', minWidth: 100, title: '商户名称'}
        ,{field: 'merchantNo', width: 100, title: '商户编号'}
        ,{field: 'applyDate', width: 100, title: '申请时间'}
        ,{field: 'legalpersonName', width: 100, title: '法人姓名'}
        ,{field: 'legalpersonDoctype', width: 150, title: '法人证件类型'}
        ,{field: 'legalpersonDocno', width: 200, title: '法人证件号'}
        ,{field: 'legalpersonPhone', width: 200, title: '法人手机号'}
        ,{field: 'statusDesc', width: 100, title: '商户状态'}
        ,{title: '操作', width: 150, align:'center', fixed: 'right', toolbar: '#table_tool'}
      ]]
      ,page: true
      ,limit: 20
      //,height: 'full-220'
      ,text: {
		    none: '暂无相关数据' //默认：无数据。
	  }
    });
  
    
    //监听工具条
    table.on('tool(merchantInfo_table)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
    	  layer.confirm('确认删除行么', function(index){
    		  var field = {"id" : data.id}; //获取提交的字段
              var param={"field":field,"index":index,"table":table,"layer":layer,"url":"/merchant/merchantInfo/deleteMerchantInfo","tableId":"merchantInfo_table"};
              ajaxSubmit(param);
              
          });
      } else if(obj.event === 'edit'){
        var tr = $(obj.tr);

        layer.open({
          type: 2
          ,title: '编辑商户信息'
          ,content: '/merchant/merchantInfo/editMerchantInfo?id='+data.id
          ,maxmin: true
          ,area: ['500px', '450px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submitID = 'LAY-front-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);

            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段
              var param={"field":field,"index":index,"table":table,"layer":layer,"url":"/merchant/merchantInfo/updateMerchantInfo","tableId":"merchantInfo_table"};
              ajaxSubmit(param);
             
            });  
            
            submit.trigger('click');
          }
          ,success: function(layero, index){
            
          }
        });
      }
    });
    
    //监听搜索
    form.on('submit(LAY-front-search)', function(data){
      var field = data.field;
      
      //执行重载
      table.reload('merchantInfo_table', {
        where: field
      });
    });
    
    //头工具栏事件
    table.on('toolbar(merchantInfo_table)', function(obj){
      var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
      switch(obj.event){
        case 'addMerchant':
        	layer.open({
                type: 2
                ,title: '添加商户信息'
                ,content: '/merchant/merchantInfo/addMerchantInfo'
                ,maxmin: true
                ,area: ['500px', '450px']
                ,btn: ['确定', '取消']
                ,yes: function(index, layero){
                  var iframeWindow = window['layui-layer-iframe'+ index]
                  ,submitID = 'LAY-front-submit'
                  ,submit = layero.find('iframe').contents().find('#'+ submitID);

                  //监听提交
                  iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                    var field = data.field; //获取提交的字段
                    var param={"field":field,"index":index,"table":table,"layer":layer,"url":"/merchant/merchantInfo/saveMerchantInfo","tableId":"merchantInfo_table"};
                    ajaxSubmit(param);
                   
                  });  
                  
                  submit.trigger('click');
                }
              }); 
        break;
        case 'addMerchantUser':
        	var checkData=checkStatus.data;
      	    if(checkData.length === 0){
                return layer.msg('请选择数据');
            }
        	layer.open({
                type: 2
                ,title: '添加【'+checkData[0].merchantName+'】用户'
                ,content: '/merchant/merchantUser/addMerchantUser?merchantId='+checkData[0].id
                ,maxmin: true
                ,area: ['500px', '450px']
                ,btn: ['确定', '取消']
                ,yes: function(index, layero){
                  var iframeWindow = window['layui-layer-iframe'+ index]
                  ,submitID = 'LAY-front-submit'
                  ,submit = layero.find('iframe').contents().find('#'+ submitID);

                  //监听提交
                  iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                    var field = data.field; //获取提交的字段
                    var param={"field":field,"index":index,"table":table,"layer":layer,"url":"/merchant/merchantUser/saveMerchantUser","tableId":"merchantInfo_table"};
                    ajaxSubmit(param);
                   
                  });  
                  
                  submit.trigger('click');
                }
              }); 
        break;
      };
    });
  
    
   
  });
  </script>
</body>
</html>